<h1>This is a Pinerest clone, built with <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %>.</h1>
<p>Please excuse the appearance and incomplete functionality while it's still in development.</p>