<div class="jumbotron text-center">
	
	
	<h1>Welcome to my app!</h1>
		<!-- If user is signed in, and user name has been added, show it -->		
		<% if user_signed_in? %>
			<h3>Thanks for joinging us<% if current_user.name.present? %>, <%= current_user.name %><% end %>.</h3> 

	<!-- Otherwise... login or sign up -->
	<% else %>
		<p>	<%= link_to "LOG IN", user_session_path, class: "btn btn-default btn-lg" %> 
			<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>

	<!-- End conditional -->
	<% end %>


</div>
