#pins {
  margin-bottom: 20px;
  margin-top: 15px;
  clear: both;
  max-width: 100%
}

/* Masonry Pin Container */
#pins .pin {
	width: 285px;
	@media screen and (max-width: 768px) { width: 100%; }
	padding: 5px;
	box-sizing: border-box;
}

/* Actual Pin Container */
#pins .panel {
	margin: 0
}

/* Pin Image Container */
#pins .panel-header,
#pins .panel-body {
	padding: 0
}

/* Pin Image  */
#pins .pin img {
	border-radius: 4px 4px 0 0;
}

/* Pin Descriptio Container */
#pins .desc {
	padding: 15px 0;
}
#pins .user {
  padding-bottom: 10px;
  font-size: 11px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

