<!DOCTYPE html>
<html>

<head>
  <%= render 'layouts/head' %>
</head>

<body>

	<%= render 'layouts/header' %>

	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: 'alert alert-info text-center') %>
		<% end %>
		<%= yield %>
	</div>

</body>

</html>
